<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
 
<div class="row mt-3 mb-3">
    <div class="col-md-6"><h4>Renkler</h4></div>
    <div class="col-md-6 d-flex justify-content-md-end"><a class="btn btn-primary" routerLink="/admin/colors/add">Yeni</a></div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Renk</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let color of colors">
            <td>{{color.id}}</td>
            <td>{{color.name}}</td>
            <td class="d-flex justify-content-end"><a class="btn btn-sm btn-primary" routerLink="/admin/colors/update/{{color.id}}">Düzenle</a></td>
        </tr>
    </tbody>
</table>