<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
 
<div class="row mt-3 mb-3">
    <div class="col-md-6"><h4>Araçlar</h4></div>
    <div class="col-md-5 d-flex justify-content-md-end">
        <input type="text" [(ngModel)]="filterText" class="form-control" placeholder="Aramak istediğiniz kelimeleri yazınız">
    </div>
    <div class="col-md-1 d-flex justify-content-md-end"><a class="btn btn-primary" routerLink="/admin/cars/add">Yeni</a></div>
</div>

<div *ngIf="filterText.length>1" class="alert alert-warning">
    {{filterText}} aradınız
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Araç Adı</th>
            <th>Marka</th>
            <th>Renk</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars | filterPipe:filterText">
            <td>{{car.carId}}</td>
            <td>{{car.carName}}</td>
            <td>{{car.brandName | uppercase}}</td>
            <td>{{car.colorName}}</td>
            <td class="d-flex justify-content-end"><a class="btn btn-sm btn-primary" routerLink="/admin/cars/update/{{car.carId}}">Edit</a></td>
        </tr>
    </tbody>
</table>