<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">RentaCar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div *ngIf="isAutherized" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/cars">Araçlar</a>
          </li>
          <li>
            <a class="nav-link" href="/rentals">Kiralamalar</a>
          </li>
          <li class="nav-item dropdown ml-auto mb-2">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/admin/customers">Müşteriler</a></li>
              <li><a class="dropdown-item" href="/admin/brands">Markalar</a></li>
              <li><a class="dropdown-item" href="/admin/colors">Renkler</a></li>
              <li><a class="dropdown-item" href="/admin/cars">Araçlar</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown ml-auto mb-2">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Hoşgeldin {{userName}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Profile bilgilerim</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="logout()">Oturumu kapat</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div *ngIf="!isAutherized" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/cars">Araçlar</a>
          </li>
          <li>
            <a class="nav-link disabled" href="/rentals">Kiralamalar</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li>
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>