<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<h4>Kiralamalar</h4>
<table class="table">
    <thead>
        <tr>
            <th>Marka</th>
            <th>Araç Adı</th>
            <th>Müşteri</th>
            <th>Kiralama Tarihi</th>
            <th>Geri Getirme Tarihi</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rental of rentals">
            <td>{{rental.brandName}}</td>
            <td>{{rental.carName}}</td>
            <td>{{rental.customerName}}</td>
            <td>{{rental.rentDate}}</td>
            <td>{{rental.returnDate}}</td>
        </tr>
    </tbody>
</table>